<h1>Your Profile</h1>

<p>Username: {{theUser.username}}</p>
<p>First Name: {{theUser.firstname}}</p>
<p>Last Name: {{theUser.lastname}}</p>
<p>Address: {{theUser.address}}</p>
<p>Email: {{theUser.email}}</p>


        <a href="/profile/edit">
            <button>Edit Your Information</button>
        </a>
