
<div class="menu-page">

            <a href="/items/new">
            <button class="add-item">Add a New Menu Item</button>
        </a>

        <hr>

<div class="menu">


{{#each theList}}

  {{!-- <script type="text/javascript">
            function Warn() {
               alert ("This is a warning message!");
               document.write ("This is a warning message!");
            }
      </script> --}}

<div class="item-card">

  <a href="/items/{{this._id}}">
<h3>{{this.name}}</h3>
  </a>

<div class = "img-box">
<img class = "image-padding" src="{{this.imgPath}}">
</div>

<br>

<p class = "description">{{this.description}}</p>


<br>
<div class="hr-box">
<p class="price">
  Price: 
${{this.price}}
</p>

   <form action="/items/delete/{{this._id}}" method="POST">
       <button>Delete This Menu Item</button>
   </form>

<form action="/orders/create" method="post">
  <input type="hidden" name="item" value="{{this._id}}">
    <button  type="submit" class="add-to-cart">Add to Cart</button>
</form>

   {{!-- {{#if message}}
        <div class="error-message">{{ message }}</div>
      {{/if}} --}}

<hr>

</div>

</div>



{{/each}}


        </div>

</div>