<div class="menu">

{{#each theList}}

<div>

  <a href="/items/{{this._id}}">
<h3>{{this.name}}</h3>
  </a>

<img class = "image-padding" src="{{this.imgPath}}">

<br>

<h2>{{this.description}}</h2>


<br>

<p class="price">
  Price: 
${{this.price}}
</p>


   <form action="/items/delete/{{this._id}}" method="POST">
       <button>Delete This Menu Item</button>
   </form>

        <a>
            <button>Add to Cart</button>
        </a>
<hr>

</div>



{{/each}}

        <a href="/items/new">
            <button>Add a New Menu Item</button>
        </a>

        </div>
