
    <h1>{{item.name}}</h1>

    <img src="{{item.imgPath}}">

    <h3>
    Description: {{item.description}}

    </h3>

    <h4>
    Price: ${{item.price}}

    </h4>


        <a href="/items/edit/{{item._id}}">
            <button>Edit This Item</button>
        </a>
<br>
                <a href="/items">
           Go back to list
        </a>