<div class="single-item">

    <h1>{{item.name}}</h1>

    <img src="{{item.imgPath}}">

    <h3>
        Description: {{item.description}}

    </h3>

    <h4>
        Price: ${{item.price}}

    </h4>


    <button> <a href="/items/edit/{{item._id}}">
            Edit This Item </a>
    </button>



<form action="/orders/create" method="post">
  <input type="hidden" name="item" value="{{item._id}}"  >
    <button  type="submit" class="add-to-cart">Add to Cart</button>
</form>

    <br><br>

    <div class="back-to-list">
        <a href="/items">
            Go back to list
        </a>
    </div>

</div>