<div class="profiles edit-review">

<h1>
Edit Your Review
</h1>


<form action="/reviews/update/{{theReview._id}}" method="POST" enctype="multipart/form-data">

<label for"">Name: </label>
<input type="text" name="commenter" value="{{theReview.commenter}}">
<br><hr>
<label for"">Headline: </label>
<input type="text" name="title" value="{{theReview.title}}">
<br><hr>

<label for"">Review: </label>
<input class="big-box" type="text" name="review" value="{{theReview.review}}" size = "150">
<br><hr>

<label for"">Rating (out of 5): </label>
<input type="number" name="rating" value="{{theReview.rating}}">
<br><hr>

<button>Submit</button>


</form>

</div>