       <a href="/reviews/new">
            <button class="add-review">Add a New Review</button>
        </a>

        <hr>

<div class="reviews">

{{#each theList}}

  <a href="/reviews/{{this._id}}">

<h1>{{this.title}}</h1>
  </a>

<div>

<h3>Posted by {{this.commenter}} on {{this.updated_at}}</h3>


<br>

<p>{{this.review}}</p>

<br>

<p>
    Rating:
{{this.rating}}
</p>


   <form action="/reviews/delete/{{this._id}}" method="POST">
       <button>Delete This Review</button>
   </form>

        <a href="/reviews/edit/{{this._id}}">
            <button>Edit This Review</button>
        </a>
<hr>

</div>



{{/each}}

 

        </div>