<div class="single-rev">
    <h1>{{review.title}}</h1>


    <h3>
    Posted by {{review.commenter}}

    </h3>

    <p>
{{review.review}}

    </p>

    <h4>
      Rating: {{review.rating}}
    </h4>


  <button><a href="/reviews/edit/{{review._id}}">Edit This Review</a></button>


<br><br>

                <a href="/reviews">
           Go back to list
        </a>

        </div>