
    <h1>{{review.title}}</h1>


    <h3>
    Description: {{review.commenter}}

    </h3>

    <h4>
{{review.review}}

    </h4>

    <h4>
      {{review.rating}}
    </h4>


        <a href="/reviews/edit/{{review._id}}">
            <button>Edit This Review</button>
        </a>



        <a href="">
            <button>Add to Cart</button>
        </a>

<br>

                <a href="/reviews">
           Go back to list
        </a>